[Match]
Name={{ lan_media_iface }}

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
Address={{ lan_media_router_ip_address }}
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=true
IPv6SendRA=true
DHCPServer=true
IPForward=true

[DHCPPrefixDelegation]
UplinkInterface={{ wan_iface }}
Assign=true
Announce=true
Token=::1
SubnetId=3

[DHCPServer]
EmitDNS=yes
PoolOffset={{ lan_media_dhcp_pool_offset }}
PoolSize={{ lan_media_dhcp_pool_size }}
DNS={{ lan_media_address }}
EmitRouter=yes
#EmitNTP=yes
{% for ntp_server in ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
DefaultLeaseTimeSec=3600
MaxLeaseTimeSec=43200

# Accept routes from other devices
# such as a Thread border router
[IPv6AcceptRA]
UseDNS=false
UseDomains=false
UseGateway=false

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=120
DNSLifetimeSec=3600
EmitDNS=true
DNS=_link_local
EmitDomains=true
Domains={{ domain }}

# Unique Local Address
[IPv6Prefix]
Prefix={{ lan_media_ip6_ula_cidr }}
PreferredLifetimeSec=86400
ValidLifetimeSec=604800
Assign=true

[IPv6RoutePrefix]
Route={{ ip6_ula_cidr }}
LifetimeSec=120

# Announce a route to any ULA address
# as we may know some routes
# received through RAs
[IPv6RoutePrefix]
Route=fd00::/8
LifetimeSec=120