- name: netplan apply
  command: netplan apply
  become: yes
- name: mount auto
  command: mount -a
  become: yes
- name: restart systemd-networkd
  service:
    name: systemd-networkd
    state: restarted
- name: restart systemd-udevd
  service:
    name: systemd-udevd
    state: restarted
- name: restart systemd-timesyncd
  systemd:
    name: systemd-timesyncd.service
    state: restarted
- name: restart rsyslog
  service:
    name: rsyslog
    state: restarted
- name: restart systemd-journald
  service:
    name: systemd-journald
    state: restarted
- name: restart systemd-resolved
  service:
    name: systemd-resolved
    state: restarted
- name: systemctl daemon-reload
  systemd:
    daemon_reload: yes
- name: restart unbound
  service:
    name: unbound
    state: restarted
- name: reload unbound
  service:
    name: unbound
    state: reloaded
- name: reload firewalld
  service:
    name: firewalld
    state: reloaded
- name: restart prometheus-node-exporter
  systemd:
    name: prometheus-node-exporter.service
    state: restarted
- name: restart tailscaled
  service:
    name: tailscaled
    state: restarted
- name: restart networkd-dispatcher
  service:
    name: networkd-dispatcher
    state: restarted
- name: run depmod apply
  command: /sbin/depmod -a
  become: yes
- name: reload apparmor
  service:
    name: apparmor
    state: reloaded
- name: update initramfs
  command: update-initramfs -u
  become: yes