- name: Netplan apply
  ansible.builtin.command: netplan apply
  changed_when: false
  become: true
- name: Mount auto
  ansible.builtin.command: mount -a  # noqa command-instead-of-module
  changed_when: false
  become: true
- name: Restart systemd-networkd
  ansible.builtin.service:
    name: systemd-networkd
    state: restarted
- name: Restart systemd-udevd
  ansible.builtin.service:
    name: systemd-udevd
    state: restarted
- name: Restart systemd-timesyncd
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    state: restarted
- name: Restart rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: restarted
  when: firewall_rsyslog_udp_server is defined or firewall_rsyslog_tcp_server is defined
- name: Restart systemd-journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted
- name: Restart systemd-resolved
  ansible.builtin.service:
    name: systemd-resolved
    state: restarted
- name: Systemctl daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true
- name: Restart unbound
  ansible.builtin.service:
    name: unbound
    state: restarted
- name: Reload unbound
  ansible.builtin.service:
    name: unbound
    state: reloaded
- name: Reload firewalld
  ansible.builtin.service:
    name: firewalld
    state: reloaded
- name: Restart prometheus-node-exporter
  ansible.builtin.systemd:
    name: prometheus-node-exporter.service
    state: restarted
- name: Restart tailscaled
  ansible.builtin.service:
    name: tailscaled
    state: restarted
- name: Restart networkd-dispatcher
  ansible.builtin.service:
    name: networkd-dispatcher
    state: restarted
- name: Run depmod apply
  ansible.builtin.command: /sbin/depmod -a
  changed_when: false
  become: true
- name: Reload apparmor
  ansible.builtin.service:
    name: apparmor
    state: reloaded
- name: Update initramfs
  ansible.builtin.command: update-initramfs -u
  changed_when: false
  become: true
