[Match]
Name={{ lan_kids_iface }}

[Link]
RequiredForOnline=no
MTUBytes=1500

[Network]
ConfigureWithoutCarrier=yes
Address={{ lan_kids_router_ip_address }}
DHCPv6PrefixDelegation=yes
LinkLocalAddressing=ipv6
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=false
IPv6SendRA=true
DHCPServer=true

[DHCPv6PrefixDelegation]
Assign=true
Announce=true
Token=::1
SubnetId=1

[DHCPServer]
EmitDNS=yes
PoolOffset={{ lan_kids_dhcp_pool_offset }}
PoolSize={{ lan_kids_dhcp_pool_size }}
DNS={{ lan_kids_address }}
EmitRouter=yes
#EmitNTP=yes
{% for ntp_server in ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
DefaultLeaseTimeSec=3600
MaxLeaseTimeSec=43200

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=15
EmitDomains=true
Domains={{ domain }}
