[Match]
Name={{ vpn_vrf_iface }}

[Link]
RequiredForOnline=no
MTUBytes=1292

[Network]
ConfigureWithoutCarrier=yes
LLMNR=false
MulticastDNS=false

[Route]
# Help ensure our non VPN traffic is separate
Type=prohibit
Destination={{ lan_cidr }}
Table=200
