[Match]
Name={{ vpn_vrf_iface }}

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes

[Route]
# Help ensure our non VPN traffic is separate
Type=prohibit
Destination={{ lan_cidr }}
