[Match]
Name={{ vpn_client_iface }}

[Link]
RequiredForOnline=no

[Network]
VRF={{ vpn_vrf_iface }}
DefaultRouteOnDevice=yes
ConfigureWithoutCarrier=no
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ lan_vpn_wg_address }}
