[Match]
Name={{ vpn_client_iface }}

[Link]
RequiredForOnline=no
MTUBytes=1292

[Network]
VRF={{ vpn_vrf_iface }}
DefaultRouteOnDevice=yes
ConfigureWithoutCarrier=no
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ lan_vpn_wg_address }}
LLMNR=false
MulticastDNS=false
IPForward=true