ip6_ula_cidr: 'fd5f:1047:55fc::/48'

lan_address: "{{ router_ip_address | ipaddr('address') }}"
lan_network: "{{ router_ip_address | ipaddr('network') }}"
lan_cidr: "{{ router_ip_address | ipaddr('network/prefix') }}"
lan_netmask: "{{ router_ip_address | ipaddr('netmask') }}"
lan_broadcast: "{{ router_ip_address | ipaddr('broadcast') }}"
lan_dhcp_t1_sec: "{{ (lan_dhcp_default_lease_time_sec * 0.5) | int }}"
lan_dhcp_t2_sec: "{{ (lan_dhcp_default_lease_time_sec * 0.875) | int }}"
lan_ip6_ula_cidr: 'fd5f:1047:55fc:0000::/64'

lan_guests_address: "{{ lan_guests_router_ip_address | ipaddr('address') }}"
lan_guests_network: "{{ lan_guests_router_ip_address | ipaddr('network') }}"
lan_guests_cidr: "{{ lan_guests_router_ip_address | ipaddr('network/prefix') }}"
lan_guests_netmask: "{{ lan_guests_router_ip_address | ipaddr('netmask') }}"
lan_guests_broadcast: "{{ lan_guests_router_ip_address | ipaddr('broadcast') }}"

lan_vpn_address: "{{ lan_vpn_router_ip_address | ipaddr('address') }}"
lan_vpn_network: "{{ lan_vpn_router_ip_address | ipaddr('network') }}"
lan_vpn_cidr: "{{ lan_vpn_router_ip_address | ipaddr('network/prefix') }}"
lan_vpn_netmask: "{{ lan_vpn_router_ip_address | ipaddr('netmask') }}"
lan_vpn_broadcast: "{{ lan_vpn_router_ip_address | ipaddr('broadcast') }}"
enable_prometheus_node_exporter_bool: "{{ enable_prometheus_node_exporter | bool }}"

apparmor_disable_profiles:
  - 1password
  - Discord
  - MongoDB Compass
  - QtWebEngineProcess
  - balena-etcher
  - brave
  - buildah
  - busybox
  - cam
  - ch-checkns
  - ch-run
  - chrome
  - crun
  - devhelp
  - element-desktop
  - epiphany
  - evolution
  - firefox
  - flatpak
  - foliate
  - geary
  - github-desktop
  - goldendict
  - ipa_verify
  - kchmviewer
  - keybase
  - lc-compliance
  - libcamerify
  - linux-sandbox
  - loupe
  - lxc-attach
  - lxc-create
  - lxc-destroy
  - lxc-execute
  - lxc-stop
  - lxc-unshare
  - lxc-usernsexec
  - mmdebstrap
  - msedge
  - nautilus
  - notepadqq
  - obsidian
  - opam
  - opera
  - pageedit
  - podman
  - polypane
  - privacybrowser
  - qcam
  - qmapshack
  - qutebrowser
  - rootlesskit
  - rpm
  - rssguard
  - runc
  - sbuild
  - sbuild-abort
  - sbuild-adduser
  - sbuild-apt
  - sbuild-checkpackages
  - sbuild-clean
  - sbuild-createchroot
  - sbuild-destroychroot
  - sbuild-distupgrade
  - sbuild-hold
  - sbuild-shell
  - sbuild-unhold
  - sbuild-update
  - sbuild-upgrade
  - scide
  - signal-desktop
  - slack
  - slirp4netns
  - steam
  - stress-ng
  - surfshark
  - systemd-coredump
  - thunderbird
  - toybox
  - trinity
  - tup
  - tuxedo-control-center
  - userbindmount
  - uwsgi-core
  - vdens
  - virtiofsd
  - vivaldi-bin
  - vpnns
  - vscode
  - wike
  - wpcom
