[Match]
Name=eth0

[Link]
RequiredForOnline=yes

[Network]
LinkLocalAddressing=ipv6
#DHCP=ipv6
#DHCP=ipv4
DHCP=yes
IPv6AcceptRA=yes
ConfigureWithoutCarrier=no
#IPv6PrivacyExtensions=yes

[IPv6AcceptRA]
UseDNS=false
DHCPv6Client=always

[DHCPv6]
ForceDHCPv6PDOtherInformation=true

[DHCP]
UseMTU=true

[IPv6PrefixDelegation]
Managed=true
OtherInformation=true
