[Match]
Name=eth1

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
Address={{ router_ip_address }}
VLAN=lan_vpn
IPv6PrefixDelegation=yes

[DHCPv6]
AssignAcquiredDelegatedPrefixAddress=yes

[IPv6PrefixDelegation]
RouterLifetimeSec=3600
# Disabling IPv6 DNS while debugging
#DNSLifetimeSec=3600
#EmitDNS=true
EmitDNS=false
#DNS=_link_local
EmitDomains=true
Domains={{ domain }}
