[Unit]
Description=Run ansible-pull to check for updates.
After=network-online.target auditd.service
Before=ansible-pull-reconfigure.service
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull --only-if-changed --inventory "$INVENTORY" --checkout "$PLAYBOOK_GIT_REF" --url "$PLAYBOOK_GIT_URL" bootstrap.yml
ExecStart=/usr/bin/ansible-pull --only-if-changed --inventory "$INVENTORY" --checkout "$PLAYBOOK_GIT_REF" --url "$PLAYBOOK_GIT_URL" "$PLAYBOOK"
RemainAfterExit=false
Nice=+10
CPUAffinity=3
IOSchedulingClass=idle
IOSchedulingPriority=7
