[Unit]
Description=Run ansible-pull to apply configuration changes.
After=network-online.target auditd.service ansible-pull.service
Wants=network-online.target
Conflicts=ansible-pull.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull --force --inventory "$INVENTORY" --checkout "$PLAYBOOK_GIT_REF" --url "$PLAYBOOK_GIT_URL" "$PLAYBOOK"
RemainAfterExit=false
Nice=+10
CPUAffinity=3
IOSchedulingClass=idle
IOSchedulingPriority=7

#[Install]
#WantedBy=multi-user.target
