[Unit]
Description=Run ansible-pull
After=network.target auditd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull --inventory "$INVENTORY_FILE" --checkout master --url "$PLAYBOOK_GIT_URL" -o "$PLAYBOOK"
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
