[Unit]
Description=Run ansible-pull
After=network.target auditd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull --inventory "/boot/firmware/inventory.yml" --checkout "$PLAYBOOK_GIT_REF" --url "$PLAYBOOK_GIT_URL" "$PLAYBOOK"
RemainAfterExit=false

[Install]
WantedBy=multi-user.target
