[Match]
Name={{ firewall_lan_guests_iface }}

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
Address={{ firewall_lan_guests_router_ip_address }}
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
LLMNR=false
MulticastDNS=false
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=false
IPv6SendRA=true
DHCPServer=true
IPForward=true

[DHCPPrefixDelegation]
UplinkInterface={{ firewall_wan_iface }}
Assign=true
Announce=true
Token=::1
SubnetId=5

[DHCPServer]
EmitDNS=yes
PoolOffset={{ firewall_lan_guests_dhcp_pool_offset }}
PoolSize={{ firewall_lan_guests_dhcp_pool_size }}
# todo: Do not use internal DNS server for guests
DNS={{ firewall_lan_guests_address }}
EmitRouter=yes
#EmitNTP=yes
{% for ntp_server in firewall_ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
# Low for now. Allow longer once lease persistence is allowed.
DefaultLeaseTimeSec=1h
MaxLeaseTimeSec=1h

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=120
EmitDomains=false

[Route]
Type=blackhole
Destination={{ firewall_ip6_ula_cidr }}

[Route]
Type=blackhole
Destination=fd00::/8