[Unit]
Description=WPA supplicant for AT&T EAP Authentication
Before=network.target
Wants=network.target

[Service]
ExecStart=/sbin/wpa_supplicant -d -Dwired -i{{ wan_iface }} -c/etc/wpa_supplicant/att_eap.conf 

[Install]
WantedBy=multi-user.target