---
- name: Setup ansible-pull config
  ansible.builtin.template:
    src: ansible-pull/ansible-pull
    dest: /etc/default/ansible-pull
    owner: root
    group: root
    mode: '0640'
- name: Setup ansible-pull service
  ansible.builtin.copy:
    src: ansible-pull/ansible-pull.service
    dest: /etc/systemd/system/ansible-pull.service
    owner: root
    group: root
    mode: '0644'
  notify: Systemctl daemon-reload
- name: Setup ansible-pull-reconfigure service
  ansible.builtin.copy:
    src: ansible-pull/ansible-pull-reconfigure.service
    dest: /etc/systemd/system/ansible-pull-reconfigure.service
    owner: root
    group: root
    mode: '0644'
  notify: Systemctl daemon-reload
- name: Setup ansible-pull timer
  ansible.builtin.copy:
    src: ansible-pull/ansible-pull.timer
    dest: /etc/systemd/system/ansible-pull.timer
    owner: root
    group: root
    mode: '0644'
  notify: Systemctl daemon-reload
- name: Setup ansible-pull-reconfigure path watch
  ansible.builtin.template:
    src: ansible-pull/ansible-pull-reconfigure.path
    dest: /etc/systemd/system/ansible-pull-reconfigure.path
    owner: root
    group: root
    mode: '0644'
  notify: Systemctl daemon-reload
- name: Systemctl daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true
- name: Setup ansible-pull.service
  ansible.builtin.systemd:
    name: ansible-pull.service
    enabled: false # Do not run on boot, only on timer trigger.
    masked: false
- name: Enable ansible-pull.timer
  ansible.builtin.systemd:
    name: ansible-pull.timer
    enabled: true
    state: started
    masked: false
- name: Setup ansible-pull-reconfigure.service
  ansible.builtin.systemd:
    name: ansible-pull-reconfigure.service
    enabled: false # Do not run on boot, only on path trigger.
    masked: false
- name: Enable ansible-pull-reconfigure.path
  ansible.builtin.systemd:
    name: ansible-pull-reconfigure.path
    enabled: true
    state: started
    masked: false
