---
- name: Apt Cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 86400 # 1 day
- name: Install unattended-upgrades
  ansible.builtin.apt:
    name: unattended-upgrades
    state: latest
    install_recommends: false
- name: Configure upgrade reboots
  ansible.builtin.template:
    src: apt/50unattended-upgrades
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    ansible.builtin.group: root
    mode: '0644'

