- name: Install networkd-dispatcher
  ansible.builtin.apt:
    name: networkd-dispatcher
    state: present
    install_recommends: false
- name: Start networkd-dispatcher
  ansible.builtin.systemd:
    name: networkd-dispatcher.service
    enabled: true
    state: started
    masked: false
- name: Template 10-ethtool script
  ansible.builtin.template:
    src: networkd-dispatcher/carrier.d/10-ethtool
    dest: /etc/networkd-dispatcher/carrier.d/10-ethtool
    owner: root
    group: root
    mode: '0755'
  notify: restart networkd-dispatcher
