---
- name: Remove ufw
  ansible.builtin.apt:
    name: ufw
    state: absent
- name: Mask ufw
  ansible.builtin.service:
    name: ufw
    enabled: false
    state: stopped
    masked: true
- name: Enable nf_flow_table kernel modules
  community.general.modprobe:
    name: nf_flow_table
    state: present
    persistent: present
- name: Enable nf_flow_table kernel modules
  community.general.modprobe:
    name: nf_flow_table_inet
    state: present
    persistent: present
- name: Install firewalld
  ansible.builtin.apt:
    name: firewalld
    state: present
    install_recommends: false
- name: Install ipset
  ansible.builtin.apt:
    name: ipset
    state: present
    install_recommends: false
- name: Remove packages
  ansible.builtin.apt:
    autoclean: true
    autoremove: true
- name: Template internal zone config
  ansible.builtin.template:
    src: firewalld/zones/internal.xml
    dest: /etc/firewalld/zones/internal.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template external zone config
  ansible.builtin.template:
    src: firewalld/zones/external.xml
    dest: /etc/firewalld/zones/external.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template guest zone config
  ansible.builtin.template:
    src: firewalld/zones/guest.xml
    dest: /etc/firewalld/zones/guest.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template lockdown whitelist
  ansible.builtin.template:
    src: firewalld/lockdown-whitelist.xml
    dest: /etc/firewalld/lockdown-whitelist.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template firewalld configuration
  ansible.builtin.template:
    src: firewalld/firewalld.conf
    dest: /etc/firewalld/firewalld.conf
    owner: root
    group: root
    mode: '0600'
  notify: reload firewalld
- name: Add ingress ICMPv6 policy.
  ansible.builtin.copy:
    src: firewalld/policies/ipv6-icmp-ingress.xml
    dest: /etc/firewalld/policies/ipv6-icmp-ingress.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Start firewalld
  ansible.builtin.service:
    name: firewalld
    state: started
