---
- name: Remove ufw
  apt:
    name: ufw
    state: absent
- name: Mask ufw
  service:
    name: ufw
    enabled: no
    state: stopped
    masked: yes
- name: Enable nf_flow_table kernel modules
  modprobe:
    name: nf_flow_table
    state: present
    persistent: present
- name: Enable nf_flow_table kernel modules
  modprobe:
    name: nf_flow_table_inet
    state: present
    persistent: present
- name: Install firewalld
  apt:
    name: firewalld
    state: latest
    install_recommends: false
- name: Install ipset
  apt:
    name: ipset
    state: latest
    install_recommends: false
- name: Remove packages
  apt:
    autoclean: yes
    autoremove: yes
- name: Template internal zone config
  template:
    src: firewalld/zones/internal.xml
    dest: /etc/firewalld/zones/internal.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template external zone config
  template:
    src: firewalld/zones/external.xml
    dest: /etc/firewalld/zones/external.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template guest zone config
  template:
    src: firewalld/zones/guest.xml
    dest: /etc/firewalld/zones/guest.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template lockdown whitelist
  template:
    src: firewalld/lockdown-whitelist.xml
    dest: /etc/firewalld/lockdown-whitelist.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Template firewalld configuration
  template:
    src: firewalld/firewalld.conf
    dest: /etc/firewalld/firewalld.conf
    owner: root
    group: root
    mode: '0600'
  notify: reload firewalld
- name: Add ingress ICMPv6 policy.
  copy:
    src: firewalld/policies/ipv6-icmp-ingress.xml
    dest: /etc/firewalld/policies/ipv6-icmp-ingress.xml
    owner: root
    group: root
    mode: '0644'
  notify: reload firewalld
- name: Start firewalld
  service:
    name: firewalld
    state: started
