- name: Increase IPV6 Route Cache Max
  sysctl:
    name: net.ipv6.route.max_size
    value: '262144'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Use Liberal Netfilter Connection Tracking
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_be_liberal
    value: '1'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Expand ephemeral port range
  sysctl:
    name: net.ipv4.ip_local_port_range
    value: '10000 65535'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Adjust net_rx_action budget
  sysctl:
    name: net.core.netdev_budget
    value: '500'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Adjust nf_conntrack_max
  sysctl:
    name: net.netfilter.nf_conntrack_max
    value: '262144'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Set nf_conntrack TCP established timeout
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_timeout_established
    value: '1800'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Set nf_conntrack TCP syn_sent timeout
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_timeout_syn_sent
    value: '60'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Set nf_conntrack TCP fin_wait timeout
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_timeout_fin_wait
    value: '120'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Set nf_conntrack TCP time_wait timeout
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_timeout_time_wait
    value: '120'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
- name: Set nf_conntrack TCP close_wait timeout
  sysctl:
    name: net.netfilter.nf_conntrack_tcp_timeout_close_wait
    value: '60'
    sysctl_file: /etc/sysctl.d/20-router.conf
    reload: yes
    sysctl_set: yes
