---
- hostname:
    name: "{{ router_hostname }}"
- name: Setup /etc/hosts
  ansible.builtin.template:
    src: hostname/hosts
    dest: /etc/hosts
    owner: root
    ansible.builtin.group: root
    mode: '0644'
