---
- include_tasks: time.yml
- include_tasks: hostname.yml
- include_tasks: user.yml
- include_tasks: motd.yml
- include_tasks: mounts.yml
- include_tasks: rsyslog.yml
- include_tasks: apt.yml
- include_tasks: ansible-pull.yml
- include_tasks: tools.yml
- include_tasks: network.yml
- include_tasks: ethtool.yml
- include_tasks: dns.yml
- include_tasks: tailscale.yml
  when: tailscale_auth_key is defined
- include_tasks: firewalld.yml
- include_tasks: forwarding.yml
- include_tasks: wireguard_client.yml
- include_tasks: prometheus_node_exporter.yml
- include_tasks: rpi.yml
- include_tasks: cleanup.yml
- meta: clear_facts
