---
- name: Setup mounts
  ansible.builtin.copy:
    src: mounts/fstab
    dest: /etc/fstab
    owner: root
    ansible.builtin.group: root
    mode: '0644'
  notify:
    - mount auto
    - restart rsyslog
  when: not skip_mounts
