---
- name: Setup mounts
  ansible.builtin.copy:
    src: mounts/fstab
    dest: /etc/fstab
    owner: root
    group: root
    mode: '0644'
  notify:
    - Mount auto
    - Restart rsyslog
  when: not firewall_skip_mounts
