---
- name: Disable cloud-init network configuration
  ansible.builtin.copy:
    content: "network: {config: disabled}"
    dest: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
    owner: root
    group: root
    mode: '0644'
- name: Remove cloud-init netplan configuration
  ansible.builtin.file:
    path: /etc/netplan/50-cloud-init.yaml
    state: absent
  notify: Netplan apply
- name: Find generated netplan networkd files
  ansible.builtin.find:
    paths: /run/systemd/network
    patterns: "10-netplan-*.network"
  register: firewall_netplan_networkd_files
- name: Remove generated netplan networkd files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ firewall_netplan_networkd_files.files }}"
  notify: Restart systemd-networkd
## WAN Network
- name: Configure physical wan Link
  ansible.builtin.template:
    src: networkd/wan/00-wan.link
    dest: /etc/systemd/network/00-wan.link
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
- name: Configure wan network
  ansible.builtin.template:
    src: networkd/wan/10-wan.network
    dest: /etc/systemd/network/10-wan.network
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
## LAN Network
- name: Configure lan link
  ansible.builtin.template:
    src: networkd/lan/00-lan.link
    dest: /etc/systemd/network/00-lan.link
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
- name: Configure lan network
  ansible.builtin.template:
    src: networkd/lan/10-lan.network
    dest: /etc/systemd/network/10-lan.network
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
- name: Setup system DNS
  ansible.builtin.template:
    src: dns/resolv.conf
    dest: /etc/resolv.conf
    owner: root
    group: root
    mode: '0644'
- name: Set network receive queue cpu assignment
  ansible.builtin.template:
    src: udev/zz-network-tunings.rules
    dest: /etc/udev/rules.d/zz-network-tunings.rules
    owner: root
    group: root
    mode: '0644'
  notify: Restart systemd-networkd
## Guests VLAN Network
- name: Enable 8021q module for VLANs
  community.general.modprobe:
    name: 8021q
    state: present
    persistent: present
- name: Create lan guests netdev
  ansible.builtin.template:
    src: networkd/lan_guests/30-lan-guests.netdev
    dest: /etc/systemd/network/30-lan-guests.netdev
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
- name: Configure lan guests network
  ansible.builtin.template:
    src: networkd/lan_guests/30-lan-guests.network
    dest: /etc/systemd/network/30-lan-guests.network
    owner: root
    group: systemd-network
    mode: '0644'
  notify: Restart systemd-networkd
- name: Flush handlers after network updates
  ansible.builtin.meta: flush_handlers
- name: Restart systemd-networkd when forced
  ansible.builtin.systemd:
    name: systemd-networkd
    state: restarted
  when: firewall_force_networkd_restart
- name: Wait for networkd after forced restart
  ansible.builtin.command: /usr/lib/systemd/systemd-networkd-wait-online --any --timeout=30
  changed_when: false
  when: firewall_force_networkd_restart
