---
- name: Copy journald.conf
  ansible.builtin.copy:
    src: journald/journald.conf
    dest: /etc/systemd/journald.conf
    owner: root
    ansible.builtin.group: root
    mode: '0644'
  notify: restart systemd-journald
- name: Remote Syslog configuration
  ansible.builtin.template:
    src: rsyslog/60-remote.conf
    dest: /etc/rsyslog.d/60-remote.conf
    owner: root
    ansible.builtin.group: root
    mode: '0644'
  when: rsyslog_udp_server is defined or rsyslog_tcp_server is defined
  notify: restart rsyslog
- name: Remove Syslog configuration
  ansible.builtin.file:
    path: rsyslog/60-remote.conf
    state: absent
  when: 
    - rsyslog_udp_server is not defined
    - rsyslog_tcp_server is not defined
  notify: restart rsyslog
- name: Remove 20-ufw.conf
  ansible.builtin.file:
    path: /etc/rsyslog.d/20-ufw.conf
    state: absent
  notify: restart rsyslog
- name: Remove 50-default.conf
  ansible.builtin.file:
    path: /etc/rsyslog.d/50-default.conf
    state: absent
  notify: restart rsyslog
- name: enable rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: started
    enabled: true
  when: rsyslog_udp_server is defined or rsyslog_tcp_server is defined
- name: disable rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: stopped
    enabled: false
  when: 
    - rsyslog_udp_server is not defined
    - rsyslog_tcp_server is not defined
  ignore_errors: yes
