---
- name: Copy journald.conf
  ansible.builtin.copy:
    src: journald/journald.conf
    dest: /etc/systemd/journald.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart systemd-journald
- name: Remote Syslog configuration
  ansible.builtin.template:
    src: rsyslog/60-remote.conf
    dest: /etc/rsyslog.d/60-remote.conf
    owner: root
    group: root
    mode: '0644'
  when: firewall_rsyslog_udp_server is defined or firewall_rsyslog_tcp_server is defined
  notify: Restart rsyslog
- name: Remove Syslog configuration
  ansible.builtin.file:
    path: rsyslog/60-remote.conf
    state: absent
  when:
    - firewall_rsyslog_udp_server is not defined
    - firewall_rsyslog_tcp_server is not defined
  notify: Restart rsyslog
- name: Remove 20-ufw.conf
  ansible.builtin.file:
    path: /etc/rsyslog.d/20-ufw.conf
    state: absent
  notify: Restart rsyslog
- name: Remove 50-default.conf
  ansible.builtin.file:
    path: /etc/rsyslog.d/50-default.conf
    state: absent
  notify: Restart rsyslog
- name: Enable rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: started
    enabled: true
  when: firewall_rsyslog_udp_server is defined or firewall_rsyslog_tcp_server is defined
- name: Disable rsyslog
  ansible.builtin.service:
    name: rsyslog
    state: stopped
    enabled: false
  when:
    - firewall_rsyslog_udp_server is not defined
    - firewall_rsyslog_tcp_server is not defined
  failed_when: false
