---
- name: Get Ubuntu OS release name
  ansible.builtin.command:
    cmd: lsb_release -cs
  register: firewall_ubuntu_release_name
  changed_when: false
- name: Add Tailscale GPG key
  ansible.builtin.get_url:
    url: "https://pkgs.tailscale.com/stable/ubuntu/{{ firewall_ubuntu_release_name.stdout }}.noarmor.gpg"
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
    mode: '0644'
- name: Add Tailscale repository list
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/ubuntu/{{ firewall_ubuntu_release_name.stdout }}.tailscale-keyring.list
    dest: /etc/apt/sources.list.d/tailscale.list
    mode: '0644'
- name: Install tailscale
  ansible.builtin.apt:
    update_cache: true
    name: tailscale
    state: present
    install_recommends: false
- name: Start tailscaled
  ansible.builtin.systemd:
    name: tailscaled.service
    enabled: true
    state: started
    masked: false
- name: Update tailscaled configuration
  ansible.builtin.template:
    src: tailscale/defaults
    dest: /etc/default/tailscaled
    owner: root
    group: root
    mode: '0644'
  notify: Restart tailscaled
- name: Tailscale Status
  failed_when: false
  ansible.builtin.shell:
    cmd: 'set -o pipefail && tailscale status --peers=false --json | jq -e .HaveNodeKey'
    executable: /bin/bash
  register: firewall_tailscale_status
  changed_when: false
- name: Tailscale Login
  when: firewall_tailscale_status.rc != 0
  ansible.builtin.command:
    argv:
      - tailscale
      - login
      - --auth-key
      - "{{ firewall_tailscale_auth_key }}"
  changed_when: true
- name: Tailscale Configure
  ansible.builtin.command:
    argv:
      - tailscale
      - set
      - --exit-node-allow-lan-access=false
      - --advertise-exit-node
      - --accept-routes=false
      - --accept-dns=false
  changed_when: true
