---
- name: Get Ubuntu OS release name
  ansible.builtin.command:
    cmd: lsb_release -cs
  register: ubuntu_release_name
- name: Add Tailscale GPG key
  ansible.builtin.get_url:
    url: "https://pkgs.tailscale.com/stable/ubuntu/{{ ubuntu_release_name.stdout }}.noarmor.gpg"
    dest: /usr/share/keyrings/tailscale-archive-keyring.gpg
    mode: '0644'
- name: Add Tailscale repository list
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/ubuntu/{{ ubuntu_release_name.stdout }}.tailscale-keyring.list
    dest: /etc/apt/sources.list.d/tailscale.list
    mode: '0644'
- name: Install tailscale
  ansible.builtin.apt:
    update_cache: yes
    name: tailscale
    state: latest
    install_recommends: false
- name: Start tailscaled
  ansible.builtin.systemd:
    name: tailscaled.service
    enabled: yes
    state: started
    masked: no
- name: Update tailscaled configuration
  ansible.builtin.template:
    src: tailscale/defaults
    dest: /etc/default/tailscaled
    owner: root
    ansible.builtin.group: root
    mode: '0644'
  notify: restart tailscaled
- name: Tailscale Status
  ignore_errors: True
  ansible.builtin.shell:
    cmd: 'tailscale status --peers=false --json | jq -e .HaveNodeKey'
  register: tailscale_status 
- name: Tailscale Login
  when: tailscale_status.rc != 0
  ansible.builtin.command:
    argv:
      - tailscale
      - login
      - --auth-key
      - "{{ tailscale_auth_key }}"
- name: Tailscale Configure
  ansible.builtin.command:
    argv:
      - tailscale
      - set
      - --exit-node-allow-lan-access=false
      - --advertise-exit-node
      - --accept-routes=false
      - --accept-dns=false
