---
- name: Set timezone to UTC
  ansible.builtin.timezone:
    name: UTC
- name: Update timesyncd configuration
  ansible.builtin.template:
    src: timesyncd/timesyncd.conf
    dest: /etc/systemd/timesyncd.conf
    owner: root
    group: root
    mode: '0644'
  notify: restart systemd-timesyncd
- name: Enable NTP
  ansible.builtin.systemd:
    name: systemd-timesyncd.service
    enabled: true
    state: started
    masked: false
