---
- name: Add admin user
  ansible.builtin.user:
    name: firewall
    groups: adm,sudo
    expires: -1
    create_home: yes
    password: "{{ admin_user_password_hash }}"
    ansible.builtin.shell: /bin/bash
    append: yes
- name: Set authorized key for admin user
  when: admin_user_authorized_key is defined
  ansible.builtin.authorized_key:
    ansible.builtin.user: firewall
    state: present
    key: "{{ admin_user_authorized_key }}"
- name: Remove the user 'ubuntu'
  ansible.builtin.user:
    name: ubuntu
    state: absent
    force: yes
    remove: yes
