[Match]
Name={{ lan_iface }}

[Link]
RequiredForOnline=yes

[Network]
ConfigureWithoutCarrier=yes
Address={{ router_ip_address }}
VLAN=lan_vpn
VLAN=lan_kids
DHCPv6PrefixDelegation=yes
LinkLocalAddressing=ipv6
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=false
IPv6SendRA=true
DHCPServer=yes

[DHCPv6PrefixDelegation]
Assign=true
Announce=true
SubnetId=0
Token=::1

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=300
# DNS clients can not use an IPv6 Link Local address as they
# do not know which interface to reach that address through.
EmitDNS=false
#DNSLifetimeSec=3600
#EmitDNS=true
#DNS=_link_local
EmitDomains=true
Domains={{ domain }}

[Route]
# Help ensure our non VPN traffic is separate
Type=prohibit
Destination={{ lan_vpn_cidr }}

[DHCPServer]
PoolOffset={{ lan_dhcp_pool_offset }}
PoolSize={{ lan_dhcp_pool_size }}
EmitDNS=yes
DNS={{ lan_address }}
EmitRouter=yes
#EmitNTP=yes
{% for ntp_server in ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
DefaultLeaseTimeSec=3600
MaxLeaseTimeSec=43200

{% for dhcp_reservation in dhcp_reservations %}
# {{ dhcp_reservation.hostname }}
[DHCPServerStaticLease]
MACAddress={{ dhcp_reservation.mac_address }}
Address={{ dhcp_reservation.ip_address }}

{% endfor %}

