[Match]
Name={{ firewall_lan_iface }}

[Link]
RequiredForOnline=yes

[Network]
ConfigureWithoutCarrier=yes
Address={{ firewall_router_ip_address }}
VLAN={{ firewall_lan_vpn_iface }}
VLAN={{ firewall_lan_guests_iface }}
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=true
IPv6SendRA=true
DHCPServer=yes
IPForward=true

[DHCPPrefixDelegation]
UplinkInterface={{ firewall_wan_iface }}
Assign=true
Announce=true
SubnetId=1
Token=::1

# Accept routes from other devices
# such as a Thread border router
[IPv6AcceptRA]
UseDNS=false
UseDomains=false
UseGateway=false

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=120
DNSLifetimeSec=3600
EmitDNS=true
DNS=_link_local
EmitDomains=true
Domains={{ firewall_domain }}

# Unique Local Address
[IPv6Prefix]
Prefix={{ firewall_lan_ip6_ula_cidr }}
PreferredLifetimeSec=86400
ValidLifetimeSec=604800
Assign=true

[IPv6RoutePrefix]
Route={{ firewall_ip6_ula_cidr }}
LifetimeSec=120

# Announce a route to any ULA address
# as we may know some routes
# received through RAs
[IPv6RoutePrefix]
Route=fd00::/8
LifetimeSec=120

[Route]
# Help ensure our non VPN traffic is separate
Type=prohibit
Destination={{ firewall_lan_vpn_cidr }}

#[Route]
# Help ensure our guest traffic is separate
#Type=prohibit
#Destination={{ firewall_lan_guests_cidr }}

[DHCPServer]
PoolOffset={{ firewall_lan_dhcp_pool_offset }}
PoolSize={{ firewall_lan_dhcp_pool_size }}
EmitDNS=yes
DNS={{ firewall_lan_address }}
EmitRouter=yes
SendOption=15:string:{{ firewall_domain }}
SendOption=28:ipv4address:{{ firewall_lan_broadcast }}
SendOption=58:uint32:{{ firewall_lan_dhcp_t1_sec }}
SendOption=59:uint32:{{ firewall_lan_dhcp_t2_sec }}
{% set search = namespace(value='') %}
{% for label in firewall_domain.split('.') %}
{% set search.value = search.value ~ '\\x' ~ ('%02x' | format(label | length)) ~ label %}
{% endfor %}
{% set search.value = search.value ~ '\\x00' %}
SendOption=119:string:{{ search.value }}
#EmitNTP=yes
{% for ntp_server in firewall_ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
# Low for now. Allow longer once lease persistence is allowed.
DefaultLeaseTimeSec={{ firewall_lan_dhcp_default_lease_time_sec }}s
MaxLeaseTimeSec={{ firewall_lan_dhcp_max_lease_time_sec }}s

{% for dhcp_reservation in (firewall_dhcp_reservations | default([], true))%}
# {{ dhcp_reservation.hostname }}
[DHCPServerStaticLease]
MACAddress={{ dhcp_reservation.mac_address }}
Address={{ dhcp_reservation.ip_address }}

{% endfor %}
