[Match]
Name={{ lan_iface }}

[Link]
RequiredForOnline=yes

[Network]
ConfigureWithoutCarrier=yes
Address={{ router_ip_address }}
VLAN={{ lan_vpn_iface }}
VLAN={{ lan_kids_iface }}
VLAN={{ lan_media_iface }}
VLAN={{ lan_things_iface }}
VLAN={{ lan_guests_iface }}
DHCPPrefixDelegation=yes
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
LLMNR=true
MulticastDNS=true
LLDP=true
EmitLLDP=nearest-bridge
IPv6AcceptRA=true
IPv6SendRA=true
DHCPServer=yes
IPForward=true

[DHCPPrefixDelegation]
UplinkInterface={{ wan_iface }}
Assign=true
Announce=true
SubnetId=1
Token=::1

# Accept routes from other devices
# such as a Thread border router
[IPv6AcceptRA]
UseDNS=false
UseDomains=false
UseGateway=false

[IPv6SendRA]
RouterPreference=high
RouterLifetimeSec=120
# DNS clients can not use an IPv6 Link Local address as they
# do not know which interface to reach that address through.
EmitDNS=false
#DNSLifetimeSec=3600
#EmitDNS=true
#DNS=_link_local
EmitDomains=true
Domains={{ domain }}

# Unique Local Address
[IPv6Prefix]
Prefix={{ lan_ip6_ula_cidr }}
PreferredLifetimeSec=86400
ValidLifetimeSec=604800
Assign=true

[IPv6RoutePrefix]
Route={{ ip6_ula_cidr }}
LifetimeSec=120

# Announce a route to any ULA address
# as we may know some routes
# received through RAs
[IPv6RoutePrefix]
Route=fd00::/8
LifetimeSec=120

[Route]
# Help ensure our non VPN traffic is separate
Type=prohibit
Destination={{ lan_vpn_cidr }}

#[Route]
# Help ensure our guest traffic is separate
#Type=prohibit
#Destination={{ lan_guests_cidr }}

[DHCPServer]
PoolOffset={{ lan_dhcp_pool_offset }}
PoolSize={{ lan_dhcp_pool_size }}
EmitDNS=yes
DNS={{ lan_address }}
EmitRouter=yes
#EmitNTP=yes
{% for ntp_server in ntp_servers %}
#NTP={{ ntp_server }}
{% endfor %}
EmitTimezone=yes
Timezone=America/New_York
DefaultLeaseTimeSec=3600
MaxLeaseTimeSec=43200

{% for dhcp_reservation in dhcp_reservations %}
# {{ dhcp_reservation.hostname }}
[DHCPServerStaticLease]
MACAddress={{ dhcp_reservation.mac_address }}
Address={{ dhcp_reservation.ip_address }}

{% endfor %}

