[Match]
Name={{ wan_iface }}

[Link]
RequiredForOnline=no

[Network]
LinkLocalAddressing=ipv6
DHCP=yes
IPv6AcceptRA=yes
ConfigureWithoutCarrier=no
IPv6PrivacyExtensions=yes

[IPv6AcceptRA]
UseDNS=false

[DHCP]
UseMTU=true

[DHCPv4]
UseDNS=false
ClientIdentifier=mac
SendHostname=false
UseHostname=false

[DHCPv6]
UseDNS=false
PrefixDelegationHint=::/60
