[Match]
Name={{ wan_iface }}

[Link]
RequiredForOnline=no

[Network]
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
IPv6DuplicateAddressDetection=0
DHCP=yes
IPv6AcceptRA=yes
ConfigureWithoutCarrier=no
IPv6PrivacyExtensions=false
LLMNR=false
MulticastDNS=false
DHCPPrefixDelegation=yes
IPv6SendRA=no

[IPv6AcceptRA]
UseGateway=true
UseDNS=false

# Give ourself our own prefix.
[DHCPPrefixDelegation]
UplinkInterface=:self
Assign=true
Announce=no
SubnetId=0
Token=::1

[DHCP]
UseMTU=true

[DHCPv4]
UseDNS=false
ClientIdentifier=mac
SendHostname=false
UseHostname=false

[DHCPv6]
SendHostname=false
UseDNS=false
PrefixDelegationHint=::/60
WithoutRA=solicit
# AT&T Gives us an IPv6 address they won't route traffic to
UseAddress=false

[Route]
Gateway=_ipv6ra
Scope=global
IPv6Preference=high
# Documented option didn't pass parsing validation.
#Protocol=ra

[Route]
Type=blackhole
Destination={{ ip6_ula_cidr }}

[Route]
Type=blackhole
Destination=fd00::/8