[Match]
Name={{ lan_vpn_iface }}

[Link]
RequiredForOnline=no
MTUBytes=1292

[Network]
VRF={{ vpn_vrf_iface }}
ConfigureWithoutCarrier=yes
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ lan_vpn_router_ip_address }}
DHCPServer=yes
BindCarrier=wg0
LLDP=false
LLMNR=false
MulticastDNS=false

[DHCPServer]
EmitDNS=yes
# TODO: Make these configurable
DNS=1.1.1.1
DNS=1.0.0.1
EmitRouter=yes
SendOption=26:uint16:1292