[Match]
Name={{ lan_vpn_iface }}

[Link]
RequiredForOnline=no

[Network]
VRF={{ vpn_vrf_iface }}
ConfigureWithoutCarrier=yes
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ lan_vpn_router_ip_address }}
