[Match]
Name=eth1

[Link]
RequiredForOnline=no

[Network]
ConfigureWithoutCarrier=yes
IPv6AcceptRA=no
LinkLocalAddressing=ipv6
Address={{ router_ip_address }}
VLAN=lan_vpn
IPv6PrefixDelegation=yes

[IPv6PrefixDelegation]
RouterLifetimeSec=3600
DNSLifetimeSec=3600
EmitDNS=true
DNS=_link_local
EmitDomains=true
Domains={{ domain }}
