[Match]
Name={{ lan_vpn_interface }}

[Link]
RequiredForOnline=no

[Network]
VRF=vrf0
ConfigureWithoutCarrier=yes
IPv6AcceptRA=no
LinkLocalAddressing=no
Address={{ lan_vpn_router_ip_address }}
